jax>=0.4.13
jaxlib>=0.4.23
optax>=0.1.5
flax>=0.7.0
torch==2.3.1+cpu -f https://download.pytorch.org/whl/cpu
numpy>=1.19.5
absl-py>=0.12.0
tqdm>=4.66.4
matplotlib>=3.9.0
ml_collections>=0.1.1
seaborn>=0.13.2
